<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <h2> <%= product %> </h2>

  <form action="/shop-quantity" method="post">
    <input type="text" name="quantity" value="" placeholder="Entrez ici la quantité">
    <input type="submit" name="button" value="Add">
  </form>

    <a href="/">Retour</a>
  </body>
</html>
